*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0px;
}
.navbar ul{
    list-style-type: none;
    background-color: #333;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
}
.navbar h1{
    font-size: 35px;
    color: whitesmoke;
}

.navbar a{
    color: whitesmoke;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: rgb(41, 103, 236);
}
.navbar li{
    float: left;
}
-->
footer{
    background-color:#333;
}
.navfooter{
    margin: 30px 0;
}
.navfooter ul{
    display: flex;
    justify-content: center;
    padding-top: 25px;
}
ul{
    list-style-type: none;
}
.navfooter ul li a{
    color: whitesmoke;
    margin: 50px ;
    text-decoration: none;
    font-size: 1.3em;
}

.footerbottom{
    background-color: black;
    padding: 20px;
    text-align: center;
}
.footerbottom p{
    color: whitesmoke;
}

